DATABASE_URL="file:./prisma/dev.db"

# NextAuth v5 — générer avec : npx auth secret
AUTH_SECRET=""

# Provider GitHub (https://github.com/settings/developers)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Provider email (Resend — https://resend.com)
AUTH_RESEND_KEY=""
